* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #58bd99   ;
  --secondary-color: #fdd868 ;
  --accent1-color: #c94331;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #2c3c47;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #fdd868;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2c3c47;
}

.icon {
    width: 100px;
    /* border: 1px solid white; */
}
li {
    list-style: none;
    margin: auto 100px;
    padding: 20px;
    cursor: pointer;
    /* border: 1px solid tomato; */
    color: var(--nav-background-color);
}
li a {
    text-decoration: none;
    color: #fdd868;
}
.hover {
    padding: 10px;
    display: inline-block;
}
.hover:hover{
    /* border: 1px solid var(--nav-link-color); */
    transition:all .4s;
    background-color: #396E94;
    
}
li .logo {
    border: 1px solid white;
    margin-left: 0;
    width: fit-content;
}
.title-box {
    /* margin-left: -1500px; */
    align-self: flex-start;
    height: fit-content;
    width: 30%;
    padding: 20px;
}
li input {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    padding-inline-start: 20px;
}
li h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
}

.cart-and-profile {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart, .profile  {
    height: fit-content;
    color: #fdd868;
}







.hero {
    display: flex;
    height: fit-content;
    padding: 50px;
    /* border: 1px solid gray; */
    background: url(../personal-site/images/pexels-karolina-grabowska-4016628.jpg);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text-box {
    align-self: flex-end;
    margin: auto;
    padding: 20px;
    color: white;
    border-radius: 10px;
    /* border: 1px solid black; */
    height: fit-content;
    width: 50%;
    background-color: #2c3c476b;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
}
.hero-text-box h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--nav-background-color);
    font-size: 40px;
    text-align: center;
}
.hero-text-box p {
    font-size: 30px;
    text-rendering: optimizeLegibility;
    text-indent: 10px;
    line-height: auto;
    word-spacing: 10px;
    word-wrap: break-word;
    text-align: center;
}

.section-one {
    /* border: 1px solid black; */
    padding: 10px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

main {
    height: 50vh;
}
.search {
    width: 40%;
    height: 40px;
    border-radius: 15px;
    padding-inline-start: 20px;
}
input {
    border: none;
    outline: none;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83)
}
.button {
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 20px;
    background-color: var(--headline-color-on-white);
    width: fit-content;
    color: var(--secondary-color);
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83)
    
}

.section-two {
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 50px;
}
.section-two {
    width: 100%;
    height: fit-content;
    display: flex;
}
.content-display-box {
    padding: 20px;
    border: 2px solid black;
}
footer {
    background-color: var(--headline-color-on-white);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .text-boxes, .logo-boxes {
    /* border: 1px solid tomato; */
    padding: 10px;
    color: #fdd868;
}

.text-boxes a {
    color: var(--nav-background-color);
    text-decoration: none;
}

.red {
    background-color: #c94331;
}

.blue {
    background-color: #396E94;
}