* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero {
    display: flex;
    height: 70vh;
    border: 1px solid gray;
    background: url(../personal-site/images/pexels-karolina-grabowska-4016628.jpg);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text-box {
    align-self: flex-end;
    margin: auto;
    padding: 20px;
    /* border: 1px solid black; */
    height: 50vh;
    width: 50%;
    backdrop-filter: blur(5px);
}
.hero-text-box h2 {
    margin-bottom: 50px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.hero-text-box p {
    font-size: 30px;
    text-rendering: optimizeLegibility;
    text-indent: 10px;
    line-height: auto;
    word-spacing: 10px;
    word-wrap: break-word;
    text-align: center;
}