* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #58bd99;
  --secondary-color: #fdd868;
  --accent1-color: #c94331;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #2c3c47;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #fdd868;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2c3c47;
}

.icon {
    width: 100px;
    /* border: 1px solid white; */
}
li {
    list-style: none;
    margin: auto 100px;
    padding: 20px;
    cursor: pointer;
    /* border: 1px solid tomato; */
    color: var(--nav-background-color);
}
li a {
    text-decoration: none;
    color: #fdd868;
    padding: 5px;
    font-size: 20px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
li a:hover {
    transition: all .5s;
    border-bottom: 2px solid #fdd868;
    border-width: 120%;
}
.hover {
    border: transparent 2px solid;
}
.hover:hover{
    border: #fdd868 2px solid;
    transform: rotate(20deg);
    transition:all .4s;
    background-color: #2c3c47;
    z-index: 10;
    
}
li .logo {
    border: 1px solid white;
    margin-left: 0;
    width: fit-content;
}
.title-box {
    /* margin-left: -1500px; */
    align-self: flex-start;
    height: fit-content;
    width: 30%;
    padding: 20px;
}
li .input {
    transform: skew(-0deg);
}
li input {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    padding-inline-start: 20px;
    transform: skew(-18deg);
}
li h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
}

.cart-and-profile {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart, .profile  {
    height: fit-content;
    color: #fdd868;
}







.hero {
    display: flex;
    height: fit-content;
    padding: 50px;
    /* border: 1px solid gray; */
    background: url(../personal-site/images/pexels-karolina-grabowska-4016628.jpg);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text-box {
    align-self: flex-end;
    margin: auto;
    padding: 20px;
    color: #fdd868;
    border-radius: 10px;
    height: fit-content;
    width: 50%;
    background-color: #2c3c476b;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
}
.hero-text-box h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--nav-background-color);
    font-size: 40px;
    text-align: center;
}
.hero-text-box p {
    font-size: 30px;
    text-rendering: optimizeLegibility;
    text-indent: 10px;
    line-height: auto;
    word-spacing: 10px;
    word-wrap: break-word;
    text-align: center;
}

.section-one {
    /* border: 1px solid black; */
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
    /* border-radius: 50px; */
    padding: 10px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    transform: skewX(18deg);
}

main {
    height: fit-content;
    padding: 50px;
    background-color: var(--headline-color-on-white);
}
.search {
    width: 40%;
    height: 40px;
    border-radius: 15px;
    padding-inline-start: 20px;
    
}
input {
    border: none;
    outline: none;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
    transform: skew(-18deg);
}
.button {
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 20px;
    background-color: var(--headline-color-on-white);
    width: fit-content;
    color: var(--secondary-color);
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83)
    
}

.section-two {
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 50px;
}
.section-two {
    width: 100%;
    margin: 50px 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section2-hero-text {
    margin: 20px;
    padding: 0 100px;
    color: #fdd868;
    border: #fdd868 solid 2px;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
    background-color: var(--primary-color);
    transform: skew(15deg);
}
.section2-hero-text h4 {
    transform: skew(-15deg);
}
.section2-hero-text:hover {
    transition: all .5s;
    background-color: hsl(159, 37%, 25%);
    cursor: pointer;
}
.content-display-box {
    padding: 20px;
    /* border: 2px solid var(--headline-color-on-white); */
    width: 33%;
   background-color: var(--primary-color);
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
    gap: 15px;
}
.heading-text {
    text-align: center;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
    /* margin-top: -50px; */
    margin: -50px auto 0 auto;
    padding: 10px;
    color: #fdd868;
    transform: skewX(18deg);
    background-color: #2c3c47b2;
    border: 2px solid #fdd868;
}
.heading-text h5{
    transform: skew(-18deg);
    padding: 5px;
}
.goods-box {
    border: 1px solid var(--nav-link-color);
    width: 48%;
    text-align: center;
    font-size: 20px;
    height: 300px;
    border-radius: 2.5px;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83)
}
.goods-box p {
    color: transparent;
    width: 100%;
    height: 90%;
    padding: 30px;
    text-align: center;
}
.goods-box span {
    /* border-bottom: 2px solid #fdd868; */
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83);
    color: #fdd868;
    transform: rotate(45deg);
    padding: 0 24px;
    background-color: #2c3c47b2;
}
.goods-box p:hover{
    transition: all .6s;
    color: white;
    cursor: pointer;
    background-color: #2c3c4791;
    opacity: .6;
    box-shadow: 0px 2.5px 5px rgb(83, 83, 83)
    /* content: 'Goods 1'; */
}
footer {
    background-color: var(--headline-color-on-white);
    border: 2px solid #fdd868;
    padding: 50px;
    z-index: -1;
}
hr {
    /* height: 5px; */
    border: #fdd868 1px solid;
    width: 100%;
}
footer .text-boxes, .logo-boxes {
    /* border: 1px solid tomato; */
    padding: 10px;
    color: #fdd868;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-boxes a {
    color: var(--nav-background-color);
    text-decoration: none;
}

.red {
    background-color: #c94331;
}

.blue {
    background-color: #396E94;
}


/* Page 3 */
.page-3 {
    margin: auto;
    border: 2px solid red;
}
.goods-box-3 {
    background-color: var(--primary-color);
    width: 35%;
    height: 35vh;
    margin: auto;
}